<:Title>
  Home

<:Body>
  <h1>Home</h1>

  NYC Events Calendar API <br><br>

  List of all Categories - route: cityofnewyork.us/calendar/v1<br>

  <button e-click="get_categories">get categories from api</button>
  <button e-click="page._categories = []">clear categories</button>
  <br>
  {{ page._categories.each do |category| }}
    {{ category }}<br>
  {{ end }}

  <br><br>
  Search for events - route: cityofnewyork.us/calendar/v1/search.htm<br>
  <input type="text" value="{{ page._event_category }}" style="width:400px;" placeholder="enter category">
  <button e-click="search_for_events">search for events</button>
  <button e-click="page._events_search = []">clear events search</button>

  {{ page._events_search.length }}<br><br>

  {{ page._events_search.first.inspect }}<br><br>

  {{ page._events_search.each do |event| }}
    {{ event["permalink"] }} <br><br>
  {{ end}}

  <h1>todo test</h1>

  <input class="form-control" type="text" value="{{ page._new_todo }}" />

  <button e-click="add_todo"> add todo</button>

  {{ store._todos.all.each do |todo| }}
    {{ todo._text }}<br>
  {{ end }}

